* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #f7f7ff;
  }

  .nav-container{
    width:30%;
  }

  .nav-container button{
    padding:10px 13px;
    border:none;

    outline:none;
    color: #ffab40;
    font-size: 16px;
    font-weight: 800;
    border-radius:30px;
    background-color: #0605058f;
  }
  
  header {
    height: 130px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #0605058f
  }
  
  section {
    height: 200vh;
  }
  
  ul {
    display: flex;
    width:100%;
    justify-content: flex-start;
    align-content: center;
  }
  
  li {
    height: 100%;
    width: 80px;
    background-color: transparent;
    color: #ffab40;
    list-style-type: none;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  li:nth-child(2){
    width:50%;
  }
  
  li a {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
  }
  