@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    font-family: "Raleway", sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #f7f7ff;
  }

  .nav-container{
    width:30%;
  }
  
  header {
    height: 100px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #ffffff;
    box-shadow:
  0 0px 4px -5px rgba(142, 142, 142, 0.025),
  0 0px 9.7px -5px rgba(131, 131, 131, 0.036),
  0 0px 18.3px -5px rgba(126, 126, 126, 0.045),
  0 0px 32.6px -5px rgba(101, 101, 101, 0.054),
  0 0px 61px -5px rgba(108, 108, 108, 0.065),
  0 0px 146px -5px rgba(84, 84, 84, 0.09)
;

  }

  #header img{
    height:150px;
  }
  
  section {
    height: 200vh;
  }
  
  ul {
    display: flex;
    width:100%;
    justify-content: flex-start;
    align-content: center;
  }
  
  li {
    height: 100%;
    width: 80px;
    background-color: transparent;
    color: #2e2e2e;
    list-style-type: none;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
  }

  li:nth-child(2){
    width:50%;
  }
  
  li a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
  }
  