/* forms */
.form-container {
    width: 600px;
    margin: 0 auto 2rem;
    padding: 1.75rem;
    border: 1px solid var(--gray);
    border-radius: 0.25rem;
    margin-top: 150px
  }
  
  .form-container h2 {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--light-gray);
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
  .form-container form label {
    font-size: 0.9rem;
  }
  
  .form-container form input,
  .form-container form textarea,
  .form-container form select {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    transition: all 0.3s;
    border: 1px solid var(--gray);
  }
  
  .form-container form input[type=submit] {
    margin: 1.5rem 0 1rem;
    width: 150px;
  }