@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&family=Roboto+Slab:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap');

.pformat {
    white-space: pre-line;
   
}

.cook-edit-delete{
  display: flex;
  margin-bottom: 10px;;
  justify-content: space-between;
}


.pformat strong{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 15px;
}

html {
    background-color: #ffffff;
    font: normal 14px / 20px 'Roboto', sans-serif;
    padding: 0 0 25px;
  }
  
  .clearfix:before,
  .clearfix:after {
      content: " ";
      display: table;
  }
  
  .clearfix:after {
      clear: both;
  }
  
  .card-detail {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2.3px 8px rgba(0, 0, 0, 0.018),
    0 5.4px 18.6px rgba(0, 0, 0, 0.026), 0 9.7px 33.4px rgba(0, 0, 0, 0.032),
    0 16.1px 55.4px rgba(0, 0, 0, 0.038), 0 26.5px 91.3px rgba(0, 0, 0, 0.044),
    0 46.2px 159.5px rgba(0, 0, 0, 0.052), 0 100px 345px rgba(0, 0, 0, 0.07);
    margin:auto;
    /* padding:10px 20px; */
    margin-top:150px;
    max-width: 700px;
  }

  .recipe-detail-title{
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size:25px;
     margin-top:10px;
     margin-bottom: 35px;
      text-align: left;
      line-height: 30px;
  }

  .card-container {
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-pic {
    /* width: 100%; */
    display: block;
    height: 300px;
    width: 700px;
    object-fit: cover;
  }
  
  .card-details {
    padding: 5px 15px;
  }
  

  
 

  .new-details{
      padding:30px 50px;
      font-family: 'Noto',serif;
      font-size: 16px;
  }

  .new-details .cook-time{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:15px;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: crimson;
    color:white;
    margin-top:10px;
    margin-bottom:14px;
    display: inline-block;
  }

    .username {
    font-size: 25px;
    font-weight: 600;
    /* margin-bottom: 25px; */
    margin-top: 130px;
    text-align: left;
    margin-left: 60px;
    color:  #ff414d;
    font-family: 'Roboto',sans-serif;
  }

  .actions{
    display: flex;
    gap:10px;
    align-self:flex-start;
    align-items: flex-end;
  }

  /* BUTONS */
  /* .card-action-button {
    border-radius: 2px;
    color: #FFAB40;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    text-decoration: none;
  }
  
  .card-action-button:hover {
    background-color: rgba(255 ,168 ,58, .2);
  } */

  /* .like-button {
    padding: 2px !important;
  } */